* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    overflow: hidden;
}


.chat {
    background-color:#1D2DA3;
    margin: auto;
    float: left;
    width: 70%;
    height: 90%;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    text-align: justify;
    word-wrap: break-word;
}

.users {
    background-color: #e9c240;
    margin: auto;
    float: right;
    width: 29.5%;
    height: 75%;
}

.text {
    display: flex;
    background-color: #6173FF;
    margin: auto;
    float: left;
    width: 70%;
    height: 10%;
    justify-content: center;
}

.menu {
    background-color: #e9c240;
    margin: auto;
    float: right;
    width: 29.5%;
    height: 25%;
}

.insideusers {
    margin: auto;
    margin-top: 10px;
    border: solid 5px black;
    width: 60%;
    height: 90%;
    background-color: #A3810D;
    
}

.userslist {
    padding: 5px;
    color: white;
    word-spacing: 3px;
    font-weight: 600;
}

.userslist img {
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 5px;
    transform: translateY(20px);
}

.text input{
    border: none;
    outline: none;
}


.text form{
    margin: auto;
    transform: scale(3);
    text-decoration: none;

}

.buttonsend {
	background-color:white;
	border-radius:28px;
	cursor:pointer;
	color:black;
	font-size:10px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 0.3px 0px #2f6627;
}
.buttonsend:hover {
	background-color:lavender;
}
.buttonsend:active {
	position:relative;
	top:1px;
}

.usertextarea
{
    padding:2px 12px;
}

.textpool{
    padding: 6px;
    font-size: 28px;
    word-spacing: 3px;
    width: 80%;
}


*::-webkit-scrollbar {
    width: 16px;
  }

*::-webkit-scrollbar-track {
    background: #204DA3;
  }

*::-webkit-scrollbar-thumb {
    background-color: #6173FF;
    border-radius: 2px;
    border: 3px outset #000000;
  }
  
.account{
    position: absolute;
    background: rgba(29, 45, 163, 0.5);
    width: 100%;
    height: 100%;
    padding: 5px;
    visibility: hidden;
}

.info{
    padding: 5px;
    background-color: rgb(97, 115, 255);
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 32px;
    border: solid 3px black;
}

.info img{
    width: 100px;
    height: 100px;
}

.info button{
    float: right;
    transform: translateY(-1.5px);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #1D2DA3;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    cursor: pointer;
}

.menu button{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #A3810D;
    color: white;
    border: solid 2px black;
    cursor: pointer;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translate(-20px, 200px);
    float: right;
}

.loginsite form{
    height: 200px;
    width: 200px;
    margin: auto;
    text-align: left;
    margin-top: 5px;
}

.registertext
{
    text-align: left;
}

.login input[type=submit]
{
    background-color: #1D2DA3;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.loginsite input
{
    width: 200px;
    height: 25px;
}
.loginsite{
    padding: 5px;
    background-color: rgb(97, 115, 255);
    width: 50%;
    height: 250px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 32px;
    border: solid 3px black;
}

.login{
    position: absolute;
    background: rgba(29, 45, 163, 0.5);
    width: 100%;
    height: 100%;
    padding: 5px;
    visibility: visible;
}
