* {
    margin: 0px;
    padding: 0px;
}



.chat {
    background-color:cornflowerblue;
    margin: auto;
    float: left;
    width: 70%;
    height: 90%;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}

.users {
    background-color: blue;
    margin: auto;
    float: left;
    width: 30%;
    height: 75%;
}

.text {
    display: flex;
    background-color: gray;
    margin: auto;
    float: left;
    width: 70%;
    height: 10%;
    justify-content: center;
}

.menu {
    background-color: green;
    margin: auto;
    float: right;
    width: 30%;
    height: 25%;
}

.insideusers {
    margin: auto;
    margin-top: 10px;
    border: solid 5px black;
    width: 60%;
    height: 90%;
    background-color: midnightblue;
    
}

.userslist {
    padding: 5px;
    color: white;
    word-spacing: 3px;
    font-weight: 600;
}

.userslist img {
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 5px;
    transform: translateY(20px);
}

input{
    border: none;
    outline: none;
}


form{
    margin: auto;
    transform: scale(3);
    text-decoration: none;

}

.buttonsend {
	background-color:white;
	border-radius:28px;
	cursor:pointer;
	color:black;
	font-size:10px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 0.3px 0px #2f6627;
}
.buttonsend:hover {
	background-color:lavender;
}
.buttonsend:active {
	position:relative;
	top:1px;
}

.usertextarea
{
    padding:2px 12px;
}

.textpool{
    padding: 8px;
    font-size: 32px;
    word-spacing: 5px;
}